USE [master]
GO
/****** Object:  Database [UdemySiteDB]    Script Date: 2.02.2024 02:35:29 ******/
CREATE DATABASE [UdemySiteDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UdemySiteDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\UdemySiteDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UdemySiteDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\UdemySiteDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UdemySiteDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UdemySiteDB]
GO
/****** Object:  Table [dbo].[TBL_DERSLER]    Script Date: 2.02.2024 02:35:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_DERSLER](
	[DERSID] [int] IDENTITY(1,1) NOT NULL,
	[DERSAD] [varchar](50) NULL,
 CONSTRAINT [PK_TBL_DERSLER] PRIMARY KEY CLUSTERED 
(
	[DERSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_DUYURULAR]    Script Date: 2.02.2024 02:35:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_DUYURULAR](
	[DUYURUID] [int] IDENTITY(1,1) NOT NULL,
	[DUYURUBASLIK] [varchar](50) NULL,
	[DUYURUICERIK] [varchar](100) NULL,
	[DUYURUOGRT] [int] NULL,
 CONSTRAINT [PK_TBL_DUYURULAR] PRIMARY KEY CLUSTERED 
(
	[DUYURUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_MESAJLAR]    Script Date: 2.02.2024 02:35:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_MESAJLAR](
	[MESAJID] [int] IDENTITY(1,1) NOT NULL,
	[GONDEREN] [varchar](50) NULL,
	[ALICI] [varchar](50) NULL,
	[BASLIK] [varchar](50) NULL,
	[ICERIK] [varchar](500) NULL,
	[TARIH] [smalldatetime] NULL,
 CONSTRAINT [PK_TBL_MESAJLAR] PRIMARY KEY CLUSTERED 
(
	[MESAJID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_NOTLAR]    Script Date: 2.02.2024 02:35:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_NOTLAR](
	[NOTID] [int] IDENTITY(1,1) NOT NULL,
	[OGRENCIID] [int] NOT NULL,
	[DERSNID] [int] NOT NULL,
	[SINAV1] [tinyint] NULL,
	[SINAV2] [tinyint] NULL,
	[SINAV3] [tinyint] NULL,
	[ORTALAMA] [decimal](18, 0) NULL,
	[DURUM] [bit] NULL,
 CONSTRAINT [PK_TBL_NOTLAR] PRIMARY KEY CLUSTERED 
(
	[OGRENCIID] ASC,
	[DERSNID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_OGRENCI]    Script Date: 2.02.2024 02:35:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_OGRENCI](
	[OGRID] [int] IDENTITY(1,1) NOT NULL,
	[NUMARA] [varchar](5) NULL,
	[OGRAD] [varchar](30) NULL,
	[OGRSOYAD] [varchar](30) NULL,
	[OGRFOTOGRAF] [varchar](100) NULL,
	[OGRTELEFON] [varchar](20) NULL,
	[OGRMAIL] [varchar](50) NULL,
	[OGRSİFRE] [varchar](50) NULL,
	[OGRCINSIYET] [varchar](50) NULL,
 CONSTRAINT [PK_TBL_OGRENCI] PRIMARY KEY CLUSTERED 
(
	[OGRID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_OGRETMEN]    Script Date: 2.02.2024 02:35:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_OGRETMEN](
	[OGRTID] [int] IDENTITY(1,1) NOT NULL,
	[OGRTADSOYAD] [varchar](30) NULL,
	[OGRTFOTO] [varchar](30) NULL,
	[OGRTBRANS] [int] NULL,
	[OGRTNUMARA] [varchar](50) NULL,
	[OGRTSIFRE] [varchar](10) NULL,
 CONSTRAINT [PK_TBL_OGRETMEN] PRIMARY KEY CLUSTERED 
(
	[OGRTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBL_DERSLER] ON 

INSERT [dbo].[TBL_DERSLER] ([DERSID], [DERSAD]) VALUES (1, N'DİL ANLATIM')
INSERT [dbo].[TBL_DERSLER] ([DERSID], [DERSAD]) VALUES (2, N'MATEMATİK')
INSERT [dbo].[TBL_DERSLER] ([DERSID], [DERSAD]) VALUES (3, N'EDEBİYAT')
SET IDENTITY_INSERT [dbo].[TBL_DERSLER] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_DUYURULAR] ON 

INSERT [dbo].[TBL_DUYURULAR] ([DUYURUID], [DUYURUBASLIK], [DUYURUICERIK], [DUYURUOGRT]) VALUES (1, N'Ders Notları ', N'Merhaba arkadaşalr ders programını paylaştım', 1)
INSERT [dbo].[TBL_DUYURULAR] ([DUYURUID], [DUYURUBASLIK], [DUYURUICERIK], [DUYURUOGRT]) VALUES (2, N'Sınav Sonuclarııı', N'Merhaba Arkadaşlar sınav sonuçlarını paylaştım.', 3)
INSERT [dbo].[TBL_DUYURULAR] ([DUYURUID], [DUYURUBASLIK], [DUYURUICERIK], [DUYURUOGRT]) VALUES (15, N'sınav', N'merhaba sınavınız açıklanmıstır', 3)
SET IDENTITY_INSERT [dbo].[TBL_DUYURULAR] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_MESAJLAR] ON 

INSERT [dbo].[TBL_MESAJLAR] ([MESAJID], [GONDEREN], [ALICI], [BASLIK], [ICERIK], [TARIH]) VALUES (1, N'1253', N'1489', N'ÖDEV', N'Ali selam test mesajı bu', CAST(N'2018-11-19T00:00:00' AS SmallDateTime))
INSERT [dbo].[TBL_MESAJLAR] ([MESAJID], [GONDEREN], [ALICI], [BASLIK], [ICERIK], [TARIH]) VALUES (2, N'1245', N'4569', N'sınav', N'sınav sonucları açıklanmıs', CAST(N'2018-11-19T00:00:00' AS SmallDateTime))
INSERT [dbo].[TBL_MESAJLAR] ([MESAJID], [GONDEREN], [ALICI], [BASLIK], [ICERIK], [TARIH]) VALUES (3, N'4569', N'0001', N'selam', N'slm hoca', CAST(N'2018-11-19T00:00:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[TBL_MESAJLAR] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_NOTLAR] ON 

INSERT [dbo].[TBL_NOTLAR] ([NOTID], [OGRENCIID], [DERSNID], [SINAV1], [SINAV2], [SINAV3], [ORTALAMA], [DURUM]) VALUES (1, 1, 2, 15, 25, 100, CAST(47 AS Decimal(18, 0)), 0)
INSERT [dbo].[TBL_NOTLAR] ([NOTID], [OGRENCIID], [DERSNID], [SINAV1], [SINAV2], [SINAV3], [ORTALAMA], [DURUM]) VALUES (5, 1, 3, 86, 42, 50, CAST(59 AS Decimal(18, 0)), 1)
INSERT [dbo].[TBL_NOTLAR] ([NOTID], [OGRENCIID], [DERSNID], [SINAV1], [SINAV2], [SINAV3], [ORTALAMA], [DURUM]) VALUES (8, 1, 5, 57, 68, 50, CAST(58 AS Decimal(18, 0)), 1)
SET IDENTITY_INSERT [dbo].[TBL_NOTLAR] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_OGRENCI] ON 

INSERT [dbo].[TBL_OGRENCI] ([OGRID], [NUMARA], [OGRAD], [OGRSOYAD], [OGRFOTOGRAF], [OGRTELEFON], [OGRMAIL], [OGRSİFRE], [OGRCINSIYET]) VALUES (1, N'1254', N'BARAN', N'YÜCEDAĞ', N'LİNK GİRİNİZ!', N'0000', N'BARANYCDGqHOTMAİL.COM', N'00', N'Erkek')
INSERT [dbo].[TBL_OGRENCI] ([OGRID], [NUMARA], [OGRAD], [OGRSOYAD], [OGRFOTOGRAF], [OGRTELEFON], [OGRMAIL], [OGRSİFRE], [OGRCINSIYET]) VALUES (2, N'1469', N'AHMET', N'ŞİMŞEK', N'https://www.hizliresim.com/87ekcr4', N'5511698978', N'BARANYCDGqHOTMAİL.COM', N'22', N'Erkek')
INSERT [dbo].[TBL_OGRENCI] ([OGRID], [NUMARA], [OGRAD], [OGRSOYAD], [OGRFOTOGRAF], [OGRTELEFON], [OGRMAIL], [OGRSİFRE], [OGRCINSIYET]) VALUES (3, N'1489', N'ALİ', N'GÜR', NULL, N'222', N'BARANYCDGqHOTMAİL.COM', N'33', N'Erkek')
SET IDENTITY_INSERT [dbo].[TBL_OGRENCI] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_OGRETMEN] ON 

INSERT [dbo].[TBL_OGRETMEN] ([OGRTID], [OGRTADSOYAD], [OGRTFOTO], [OGRTBRANS], [OGRTNUMARA], [OGRTSIFRE]) VALUES (1, N'mehmet Elma', NULL, 1, N'0001', N'm012')
INSERT [dbo].[TBL_OGRETMEN] ([OGRTID], [OGRTADSOYAD], [OGRTFOTO], [OGRTBRANS], [OGRTNUMARA], [OGRTSIFRE]) VALUES (2, N'ayşe kuzu', NULL, 2, N'0002', N'a1')
INSERT [dbo].[TBL_OGRETMEN] ([OGRTID], [OGRTADSOYAD], [OGRTFOTO], [OGRTBRANS], [OGRTNUMARA], [OGRTSIFRE]) VALUES (3, N'ela gözlü', NULL, 3, N'0003', N'123')
SET IDENTITY_INSERT [dbo].[TBL_OGRETMEN] OFF
GO
ALTER TABLE [dbo].[TBL_MESAJLAR] ADD  CONSTRAINT [DF_TBL_MESAJLAR_TARİH]  DEFAULT (getdate()) FOR [TARIH]
GO
ALTER TABLE [dbo].[TBL_NOTLAR] ADD  CONSTRAINT [DF_TBL_NOTLAR_SINAV1]  DEFAULT ((0)) FOR [SINAV1]
GO
ALTER TABLE [dbo].[TBL_NOTLAR] ADD  CONSTRAINT [DF_TBL_NOTLAR_SINAV2]  DEFAULT ((0)) FOR [SINAV2]
GO
ALTER TABLE [dbo].[TBL_NOTLAR] ADD  CONSTRAINT [DF_TBL_NOTLAR_SINAV3]  DEFAULT ((0)) FOR [SINAV3]
GO
ALTER TABLE [dbo].[TBL_NOTLAR] ADD  CONSTRAINT [DF_TBL_NOTLAR_ORTALAMA]  DEFAULT ((0)) FOR [ORTALAMA]
GO
ALTER TABLE [dbo].[TBL_NOTLAR] ADD  CONSTRAINT [DF_TBL_NOTLAR_DURUM]  DEFAULT ((0)) FOR [DURUM]
GO
ALTER TABLE [dbo].[TBL_DUYURULAR]  WITH CHECK ADD  CONSTRAINT [FK_TBL_DUYURULAR_TBL_OGRETMEN1] FOREIGN KEY([DUYURUOGRT])
REFERENCES [dbo].[TBL_OGRETMEN] ([OGRTID])
GO
ALTER TABLE [dbo].[TBL_DUYURULAR] CHECK CONSTRAINT [FK_TBL_DUYURULAR_TBL_OGRETMEN1]
GO
ALTER TABLE [dbo].[TBL_NOTLAR]  WITH CHECK ADD  CONSTRAINT [FK_TBL_NOTLAR_TBL_DERSLER] FOREIGN KEY([DERSNID])
REFERENCES [dbo].[TBL_DERSLER] ([DERSID])
GO
ALTER TABLE [dbo].[TBL_NOTLAR] CHECK CONSTRAINT [FK_TBL_NOTLAR_TBL_DERSLER]
GO
ALTER TABLE [dbo].[TBL_NOTLAR]  WITH CHECK ADD  CONSTRAINT [FK_TBL_NOTLAR_TBL_OGRENCI] FOREIGN KEY([OGRENCIID])
REFERENCES [dbo].[TBL_OGRENCI] ([OGRID])
GO
ALTER TABLE [dbo].[TBL_NOTLAR] CHECK CONSTRAINT [FK_TBL_NOTLAR_TBL_OGRENCI]
GO
ALTER TABLE [dbo].[TBL_OGRETMEN]  WITH CHECK ADD  CONSTRAINT [FK_TBL_OGRETMEN_TBL_DERSLER] FOREIGN KEY([OGRTBRANS])
REFERENCES [dbo].[TBL_DERSLER] ([DERSID])
GO
ALTER TABLE [dbo].[TBL_OGRETMEN] CHECK CONSTRAINT [FK_TBL_OGRETMEN_TBL_DERSLER]
GO
/****** Object:  StoredProcedure [dbo].[OgrNotlar]    Script Date: 2.02.2024 02:35:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[OgrNotlar]
as
select NOTID,OGRENCIID,(OGRAD + ' '+OGRSOYAD) as [OGRENCIADSOYAD], DERSAD,SINAV1,SINAV2,SINAV3,ORTALAMA,DURUM
FROM TBL_NOTLAR inner join TBL_OGRENCI on TBL_NOTLAR.OGRENCIID = TBL_OGRENCI.OGRID
inner join TBL_DERSLER on TBL_DERSLER.DERSID = TBL_NOTLAR.DERSNID


-- ogrenci ad- soyad -> ogrenci tablosundan
-- dersad -> dersler tablosundan
-- sınavlar, ortalama ve durum -> notlar tablosundan, bunlar inner join için


-- procedure, uzun metotları tek çatı altında topluyor. yani tekrar tekrar yazmaktansa tek seferde çağırıyosun, fonk gibi
-- create procedure (isim) as (sorgu)

--create procedure OgrNotlar
--as
--select (OGRAD + ' '+OGRSOYAD) as [Öğrencinin İsmi], DERSAD,SINAV1,SINAV2,SINAV3,ORTALAMA,DURUM
--FROM TBL_NOTLAR inner join TBL_OGRENCI on TBL_NOTLAR.OGRENCIID = TBL_OGRENCI.OGRID
--inner join TBL_DERSLER on TBL_DERSLER.DERSID = TBL_NOTLAR.DERSNID

--(bunu execute yap ve silebilirsin, bu programmility->stored procedure altında otomatik kaydolcak)

--NOTLAR TABLOSUNDAN OGRENCIID EKLE
GO
USE [master]
GO
